<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>상세페이지</title>
	<link rel="stylesheet" href="/home.css">
	<link rel="stylesheet" href="../../static/home.css">
</head>
<body>
	<div class="wrapper" style="background: #eee;">
		<div th:replace="~{book/nav.html :: navbar}"></div>
		<div class="detailWrap">
			<div class="detail_img">
				<img src="https://placehold.co/400" alt="book_img" />
			</div>
			<div>
				<h4 th:text="${book.title}">타이틀</h4>
				<p th:text="${book.author}">작성자</p>
				<p id="price" th:text="${#numbers.formatInteger(book.price,3,'COMMA')} + '원'" >가격</p>
				<div th:if="${book.status.name() == 'AVAILABLE'}">
					<button>대출하기</button>
				</div>
				<div th:if="${book.status.name() == 'LOANED'}">
					<button>SOLD OUT</button>
				</div>
			</div>
		</div>
	</div>
	<script>

	</script>
</body>
</html>