<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>SignUp</title>
		<link href="/home.css" rel="stylesheet"/>
</head>
<body>

<div class="wrapper">
		<div class="signWrap">
				<div th:replace="~{book/nav.html :: navbar}"></div>
				<form action="/signUp" method="post">
						<h2>회원가입</h2>
						<div th:if="${errorMessage}">
								<h5 th:text="${errorMessage}" style="color:red;"></h5>
						</div>
						<div class="siginUpForm">
								<input type="text" name="username" placeholder="username"/>
								<input type="password" name="password" placeholder="password"/>
								<input type="text" name="displayName" placeholder="displayName"/>
								<button type="submit">회원가입</button>
						</div>

				</form>
		</div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>

<script>

</script>
</body>
</html>