<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LoginPage</title>
		<link rel="stylesheet" href="/home.css">
</head>

<body>
<div class="wrapper">
		<div class="signWrap">
				<div th:replace="~{book/nav.html :: navbar}"></div>
				<h2>
						로그인
				</h2>
				<div th:if="${param.error}">
						<h4>아이디나 비번 틀림</h4>
				</div>
				<form action="/signIn" method="post">
						<div class="signInForm">
								<label for="username">ID</label>
								<div>
										<input id="username" name="username" type="text" placeholder="아이디"/>
								</div>
								<label for="password">PW</label>
								<div>
										<input id="password" name="password" type="password" placeholder="패스워드"/>
								</div>
								<button type="submit">로그인</button>
						</div>
				</form>

				<div class="register">
						<a class="link" href="/api/user/signUp">회원가입</a>
				</div>
		</div>
</div>

</body>

</html>