:root {
  --text-color: #80888A;
  --text-color-white: #fff;
  --font-size: 16px;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link {
  text-decoration: none;
}

.books_wrap {
  width: 100%;
  height: 3000px;
  background-color: #eee;
}

.view_wrap {
  width: 100%;
}

.header {
  width: 100%;
}

.header__above,
.header__center,
.header__below {
  max-width: 1020px; /* 가운데 정렬될 최대 너비를 지정 */
  width: 100%; /* 각 요소가 부모의 너비를 따르도록 설정 */
  margin: 0 auto; /* 가로 방향에서 가운데 정렬 */
  margin-bottom: 16px;
  padding: 5px;
}

.header__above {
  background: #eee;
  border-bottom: 1px solid gainsboro;
}

.header__above .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__center {
  max-width: 820px;
}
.header__center .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* 상픔 목록 보여주기 */
.header__below {
  max-width: 1280px;
  width: 100%;
}
.header__below .inner {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header__below .inner div {
  padding: 20px;
  margin-right: 5px;
}
/* 상픔 목록 보여주기 */

.search {
  width: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
.search input {
  width: 350px;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}
.search span {
  cursor: pointer;
}

.is-fixed{
  position: fixed;
  transform: translateX(25%);
  z-index: 5;
}
.header__below .inner {
  text-align: center;
}

.link {
  color: #80888A;
  padding: 5px;
  font-size: 12px;
}

.header__logo {
  background-color: white;
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #eee;
}

/* 로그인 시작 */
.signWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.signInForm label {
  width: 375px;
  font-weight: bold;
  text-align: left;
}
.signInForm input {
  width: 350px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
}
.signInForm button {
  width: 380px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 4px;
  background: black;
  color: var(--text-color-white);
  font-size: var(--font-size);
  cursor: pointer;
}
.register {
  width: 350px;
  text-align: right;
}
.register a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}
/* 로그인 끝 */

/* 회원가입 시작 */
form {
  display: flex;
  flex-direction: column;
}
.duplication span {
  cursor: pointer;

}
.siginUpForm {
  display: flex;
  flex-direction: column;
}

.siginUpForm input {
  width: 350px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin-bottom: 12px;
}
.siginUpForm button {
  border: none;
  border-radius: 8px;
  background: black;
  padding: 15px;
  color: white;
}
/* 회원가입 끝 */


/* 마이페이지 시작 */
.security {
  width: 100vw;
  height: 100vh;
}

.loan {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: salmon;
  border: none;
  border-radius: 8px;
  padding: 10px;
}
.book {
  display: flex;
  gap: 10px;
}
.book_info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.book img {
  width: 100%;
  border-radius: 5px;
}

.security span {
  font-size: 22px;
  font-weight: bold;
}
/* 마이페이지 끝 */


/* write */
.writeForm {
  max-width: 820px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.writeForm input {
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}
.writeBtn {
  padding: 15px;
  color: white;
  background: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.pl {
  width: 200px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

/* write */