<!doctype html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Home</title>
		<link href="/home.css" rel="stylesheet">
		<link href="../static/home.css" rel="stylesheet">
		<link rel="stylesheet"
		      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>

<body>
<div class="books_wrap">
		<div class="view_wrap">
				<header id="header" class="header">
						<div th:replace="~{book/nav.html :: navbar}"></div>
						<div class="header__center">
								<div class="inner">
										<img class="header__logo" src="../static/images/book_icon.png" alt="logo"/>
										<div class="search">
												<input type="text" placeholder="이 페이지에 들어온게 우연일까? 필연일까?"/>
												<span class="material-symbols-outlined">
													search
												</span>
										</div>

								</div>
						</div>
						<div class="header__below">
								<div class="inner">
										header__below
								</div>
						</div>
				</header>
				<main class="content">
				</main>
		</div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
<script>
		$('.arrow-left').on('click', () => {
			console.log('arrow-left clicked')
			$('.slide').css('transform', 'translateX(0vh)')
		})
		$('.arrow-right').on('click', () => {
			console.log('arrow-left clicked')
			$('.slide').css('transform', 'translateX(-200vh)')
		})

		$(window).on('scroll', () =>{
			let scrollY = window.scrollY
			if (scrollY >= 400) {
				$('.header__center').addClass('is-fixed');
			} else if(scrollY <= 300) {
				$('.header__center').removeClass('is-fixed');
			}
		})
</script>
</body>

</html>