<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Product List</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>
<div class="card" th:each="item : ${items}">
    <a th:href="@{/api/item/{id}(id=${item.id})}">
        <img src="https://placehold.co/300">
    </a>
    <div>
        <h4 th:text="${item.title}">바지</h4>
        <p  th:text="${item.price} + '원'">7억</p>
        <a  th:href="@{/api/item/edit/{id}(id=${item.id})}">✏️</a>
    </div>
</div>
</body>
</html>